<%-include('partials/head')%>
<a href="/logout">Logout</a><br>
    <h1>CREATE A CUSTOM BACKLOG</h1>
    <form action="/custom/add" method="post">
        <input type="text" name="itemName" placeholder="Name of the new backlog"> 
        <br>
        <button onclick="return confirm('Are you sure?');">Create</button>
    </form>

    <% let count = 0 %>

    <table>
        <tr>
            
            <% customlogs.forEach(log => {if(log.user == user.id){%>
                <% if(count % 4 == 0){ %>  <tr></tr> <% } %>
                <th>
                    <a href="/custom/<%= log.name %>"><p><%=log.name%></p></a>
                    <% count++ %>
                </th>
            <%}}) %>
            
        </tr>
    </table>
<%-include('partials/footer')%>