<%-include('partials/head')%>

    <h1>GAME BACKLOG</h1>
    <form action="/game" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" hidden value="false" name="doNotSave">
        <br>
        <button>Search</button>
    </form>
    <% if(resposta!=null){ %>
        <% for(result of resposta.results) {%>
            <p><%= result.name%></p>
        <%}; %>
        
    <% } %>
<%-include('partials/footer')%>