<%-include('partials/head')%>

<div>
    <h1>BACKLOGS</h1>
    <a href="/game">Games backlog</a><br>
    <a href="/book">Books backlog</a><br>
    <a href="/movie">Movies backlog</a><br>
    <a href="/custom">Custom backlog</a><br>
</div><br><br><br>
    <a href="/login">Login</a><br>
    <a href="/logout">Logout</a><br>
    <a href="/register">Register</a><br>

<%-include('partials/footer')%>