<%-include('partials/head')%>
<div>
    <h1>Login:</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button>Enter</button>
    </form>
    <a href="/register">Register</a><br>
</div>
<%-include('partials/footer')%>