h1{
    color: blue;
}
.gold{
    background-color: gold;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.scoreInputs input{
    border: none transparent;
    outline: none;
    font-size:1.3em; padding:.5em;
}
.general{
    margin:auto;
    width: 50%;
    text-align: left;
    height: auto;
    overflow:auto;
    padding-left: 20px;
    padding-right: 20px;
    border: #4CAF50 solid;
}

.botoes a{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 120px;
}

.authOptions{

}

img{
    width: 200px; 
    height: 220px; 
}
.detail{
    width: 400px; 
    height: 440px; 
    float: left;
}
.detailsgame{
    float: right;
    text-align: left;
}


table{

}


tr{
    padding: 5,5,5,5;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }