.gold{
    background-color: gold;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.scoreInputs input{
    border: none transparent;
    outline: none;
    font-size:1.3em; padding:.5em;
}

.headerCustom {
    width: 100%;
    height: auto;
    font-size: 30px;                          
    color: #00ff00;
    border: none;                           
    padding: 0;
    background: none;
    outline: none; 
}    

.general{
    margin:auto;
    width: 50%;
    text-align: left;
    height: auto;
    overflow:auto;
    padding-left: 20px;
    padding-right: 20px;
    border: #4CAF50 solid;
    font-family: 'Courier New', monospace;
    background-color: #000;
    
}

.botoes a{
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #ffffff;
    cursor: pointer;
    display: inline-block;
    width: 150px;
    background-color:#00ff00;
}
button{
    width: 120px;
}


img{
    width: 200px; 
    height: 220px; 
}
.profilePic{
    width: 100px;
    height: 100px;
}
.profilePicForum{
    width: 70px;
    height: 70px;
}
.detail{
    width: 400px; 
    height: 440px; 
    float: left;
}
.detailsgame{
    float: right;
    text-align: left;
}


tr{
    padding: 5,5,5,5;
    border: 5px solid white;
}

#overlay {
    position: fixed; 
    display: none; 
    width: auto; 
    height: auto; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
  }


  .forumbutton{
    text-align: right;
  }



h1 {
    color: #00ff00;
    text-align: center;
}

p {
    font-size: 14px;
    color: white;
}

.rules {
    color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ffffff;
}

th, td {
    padding: 10px;
}

a {
    color: #00ff00;
    text-decoration: none;
}



button:hover {
    background-color: #ffffff;
    color: #1e1e1e;
}


textarea,
input {
    margin-bottom: 10px;
    padding: 5px;
}


form {
    display: flex;
    flex-direction: column;
}


.shadow {
    box-shadow: 4px 4px 8px #000;
}

.answer{
    padding-left: 60px;
}

.logo{
    float: right;
    width: 100px;
    height: 100px;
}

body{
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1080px;
}